<!-- 
    <div id="doubleBack">
      <div class="row">
        <% for(var i=users.length-1; i>=0; i--) { %>
        <div class="column">
          <div class="card">
            <img
              src="<%= users[i].file %>"
              style="width: 150px; height: auto; padding-top: 10px"
            />
            <h2><%= users[i].title %></h2>
            <p><%= users[i].description %></p>
            <p><%= users[i].date %></p>
            <p>
              <a href="/tea/<%= users[i].posts_id %>"
                ><button>Read more</button></a
              >
            </p>
          </div>
        </div>
        <% } %>
      </div>
    </div> -->
<html
  data-wf-domain="wf.usepastel.com"
  data-wf-page="5fb822d0a0ccfc8c2584449b"
  data-wf-site="5acebf1a4573a3e71b787492"
  class="w-mod-js w-mod-ix wf-merriweather-n3-active wf-merriweather-i3-active wf-merriweather-n4-active wf-merriweather-i4-active wf-merriweather-n7-active wf-merriweather-i7-active wf-merriweather-n9-active wf-merriweather-i9-active wf-rubik-n3-active wf-rubik-n4-active wf-rubik-n5-active wf-rubik-n7-active wf-rubik-n9-active wf-active"
>

  <head>
 
    <meta charset="utf-8" />
    <title>| B-log-B</title>
    <link
      href="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/css/pastelwf.webflow.2b0448248.css"
      rel="stylesheet"
      type="text/css"
    />
   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic,900,900italic%7CRubik:300,regular,500,700,900"
      media="all"
    />
  
    
    <style>
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #add8e6;
}
li {
  float: left;
  position: relative;
  top: 0;
  left: 35%;
  transform: none;
}
li a {
  display: block;
  color: #4c4646;
  text-align: center;
  padding: 55px 26px;
  text-decoration: none;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
li a:hover {
  color: white;
}

p.img {
  margin-left: 630px;
  padding-top: 40px;
  position: absolute;
  width: 100%;
}

.image-28 {
  margin-left: 9.5%;
  padding-top: 50px;
  font-size: xx-large;
  position: absolute;
}




 
@media only screen and (max-width: 1350px) {
  h5 {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    margin-top: auto;
  }
}
@media only screen and (min-width: 843px) {
  .navbar {
    display: none;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("/w3images/parallax1.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

* {
  box-sizing: border-box;
}

.column {
  width: 30%;
  float: left;
  padding: 12px 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin: auto;
  background-color: #e8f5ff;
  text-align: center;
  border-radius: 26px;
  padding-bottom: 15px;
}

.title {
  color: gray;
  font-size: 12px;
}

button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

a:hover,
button:hover {
  opacity: 0.6;
}

    </style>
  </head>
  <body class="body-main body-homepage">
    <div
      class="navbar-sticky"
      style="
        will-change: transform;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      "
    >
      <div class="navbar-new sticky-nav">
        <div
          data-w-id="640dc1cb-26eb-7317-7627-339bc859d484"
          class="nav-menu-close-div"
        ></div>
        <div class="header-container-new sticky-nav">
          <div class="header-navbar-new sticky-nav">
            <div class="header-logo-new sticky-nav">
              <a
                href="https://usepastel.com/"
                class="header-logo-link w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d5ee6fc3c036ef308cc7c_Pastel-logo-svg.svg"
                  loading="lazy"
                  alt=""
                  class="image-28"
              /></a>
            </div>
            <div class="navbar-navigation-buttons sticky-nav">
              <a
                href="/"
                class="navbar-button sticky-nav w-button"
                >Home</a
              ><a
                href="/news"
                class="navbar-button sticky-nav w-button"
                >Blogs</a
              ><a
                href="/contact"
                class="navbar-button sticky-nav w-button"
                >Contact</a
              ><a
                href="/login"
                class="navbar-button sticky-nav w-button"
                >Log In</a
              >
            </div>
            <div class="navbar-mobile-menu">
              <div
                data-w-id="640dc1cb-26eb-7317-7627-339bc859d49b"
                class="nav-menu-button"
              >
                <div
                  data-w-id="640dc1cb-26eb-7317-7627-339bc859d49c"
                  class="line"
                ></div>
                <div
                  data-w-id="640dc1cb-26eb-7317-7627-339bc859d49d"
                  class="line"
                ></div>
                <div
                  data-w-id="640dc1cb-26eb-7317-7627-339bc859d49e"
                  class="line"
                ></div>
              </div>
              <div
                data-w-id="640dc1cb-26eb-7317-7627-339bc859d49f"
                class="nav-menu-content"
              >
                <div class="nav-menu-item">
                  <a
                    href="/"
                    class="nav-menu-link w-inline-block"
                    ><img
                      src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d800c886b61901dd6551f_menu-icon-arrow.svg"
                      loading="lazy"
                      alt=""
                      class="nav-menu-item-image"
                    />
                    <div class="nav-menu-item-text">Home</div></a
                  >
                </div>
                <div class="nav-menu-item">
                  <a
                    href="/news"
                    class="nav-menu-link w-inline-block"
                    ><img
                      src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d801beece0b1601b30062_menu-icon-dollar.svg"
                      loading="lazy"
                      alt=""
                      class="nav-menu-item-image"
                    />
                    <div class="nav-menu-item-text">Blogs</div></a
                  >
                </div>
                <div class="nav-menu-item">
                  <a
                    href="/contact"
                    class="nav-menu-link w-inline-block"
                    ><img
                      src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d808db4b17d3bd8ea6c38_menu-icon-smiley.svg"
                      loading="lazy"
                      alt=""
                      class="nav-menu-item-image"
                    />
                    <div class="nav-menu-item-text">Contact</div></a
                  >
                </div>
                <div class="nav-menu-item">
                  <a
                    href="/login"
                    class="nav-menu-link w-inline-block"
                    ><img
                      src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f4d7ffcec5bc3c09936f449_menu-icon-star.svg"
                      loading="lazy"
                      alt=""
                      class="nav-menu-item-image"
                    />
                    <div class="nav-menu-item-text">Log In</div></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('layout/header.ejs'); %>
 
    <div class="homepage-section">
      <div class="container-new">
        <div class="content-div white-background top-border-radius">
          <div class="heading-columns-video w-row">
              <div class="heading-column-content-left">
                <div class="row">
                  <% for(var i=users.length-1; i>=0; i--) { %>
                  <div class="column">
                    <div class="card" >
                      <img
                        src="<%= users[i].file %>"
                        style="width: 150px; height: auto; padding-top: 10px"
                      />
                      <h2><%= users[i].title %></h2>
                      <p><%= users[i].description %></p>
                      <p><%= users[i].date %></p>
                      <p>
                        <a href="/tea/<%= users[i].posts_id %>"
                          ><button>Read more</button></a
                        >
                      </p>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          
          </div>
          <div class="left-column-heading w-col w-col-5 w-col-stack">
        </div>
        <div class="content-div light-background bottom-border-radius">
     
      <div class="container-new">
        <div
          class="content-div white-background full-border-radius feature-background"
        >
          <div class="features-block">
            <div class="features">
              <div class="feature-item">
                <img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f57cfe08bd29438961be006_icon-easy-client-comments.svg"
                  loading="lazy"
                  alt=""
                  class="feature-item-image"
                />
                <div class="feature-item-heading">Easy client comments</div>
                <div class="feature-item-text">
                  Clients don't need accounts.<br />Just share your link to have
                  them leave comments.
                </div>
              </div>
              <div class="feature-item hidden-mobile">
                <img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f57cfe184f9cc3fac4f5d4a_icon-organize-comments.svg"
                  loading="lazy"
                  alt=""
                  class="feature-item-image"
                />
                <div class="feature-item-heading">Organize comments</div>
                <div class="feature-item-text">
                  Mark it resolved or with a label to filter through comments
                  faster.
                </div>
              </div>
             
              <div class="feature-item hidden-mobile">
                <img
                  src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/5f57cfe10ae93050a66fc765_icon-smart-comments.svg"
                  loading="lazy"
                  alt=""
                  class="feature-item-image"
                />
                <div class="feature-item-heading">Smart comments</div>
                <div class="feature-item-text">
                  Every comment comes with a screenshot, browser and screen size
                  information
                </div>
              </div>
              <div class="feature-item features-cta"> 
              </div>
            </div>
</div>
            <%- include('layout/footer.ejs'); %>
         
         
    </div>
    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5acebf1a4573a3e71b787492"
      type="text/javascript"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://uploads-ssl.webflow.com/5acebf1a4573a3e71b787492/js/webflow.9ea2331ba.js"
      type="text/javascript"
    ></script>
    <!--[if lte IE 9
      ]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script
    ><![endif]-->
    <script>
      window.intercomSettings = {
        app_id: "zxaivxcc",
        custom_launcher_selector: "#custom-plan-link",
        custom_launcher_selector: "#enterprise-plan-link",
      };
    </script>

    <script>
      (function () {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === "function") {
          ic("reattach_activator");
          ic("update", w.intercomSettings);
        } else {
          var d = document;
          var i = function () {
            i.c(arguments);
          };
          i.q = [];
          i.c = function (args) {
            i.q.push(args);
          };
          w.Intercom = i;
          var l = function () {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://widget.intercom.io/widget/zxaivxcc";
            var x = d.getElementsByTagName("script")[0];
            x.parentNode.insertBefore(s, x);
          };
          if (w.attachEvent) {
            w.attachEvent("onload", l);
          } else {
            w.addEventListener("load", l, false);
          }
        }
      })();
    </script>

    <script type="text/javascript">
      _linkedin_partner_id = "372756";
      window._linkedin_data_partner_ids =
        window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function () {
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";
        b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);
      })();
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none"
        alt=""
        src="https://px.ads.linkedin.com/collect/?pid=372756&fmt=gif"
      />
    </noscript>
    <iframe
      id="intercom-frame"
      style="
        position: absolute !important;
        opacity: 0 !important;
        width: 1px !important;
        height: 1px !important;
        top: 0 !important;
        left: 0 !important;
        border: none !important;
        display: block !important;
        z-index: -1 !important;
        pointer-events: none;
      "
      aria-hidden="true"
      tabindex="-1"
      title="Intercom"
    ></iframe>
  </body>
</html>
